.crewContainer {
    padding: 60px 0 0 165px;
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.commanderContainer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-right: 135px;
    width: 100%;
}

.specialistContainer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-right: 165px;
    width: 100%;
}

.pilotContainer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-right: 143px;
    width: 100%;
}

.engineerContainer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-right: 85px;
    width: 100%;
}

.crewContainer .content {
    display: flex;
    flex-direction: column;
}

.commanderContainer .content {
    max-width: 500px;
}

.specialistContainer .content {
    max-width: 620px;
}

.pilotContainer .content {
    max-width: 440px;
}

.engineerContainer .content {
    max-width: 540px;
}

.crewContainer h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.72px;
    color: #fff;
    font-weight: 200;
    margin: 0;
}

.crewContainer h3 span {
    padding-right: 28px;
    opacity: 25%;
    font-weight: 600;
}

.commanderContainer .crewImg {
    background-image: url('../assets/crew/image-douglas-hurley.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 510px;
    height: 700px;
}

.specialistContainer .crewImg {
    background-image: url('../assets/crew/image-mark-shuttleworth.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 450px;
    height: 645px;
    align-self: flex-end;
}

.pilotContainer .crewImg {
    background-image: url('../assets/crew/image-victor-glover.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 555px;
    height: 650px;
    align-self: flex-end;
}

.engineerContainer .crewImg {
    background-image: url('../assets/crew/image-anousheh-ansari.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 616px;
    height: 607px;
    align-self: flex-end;
}

.crewContainer h2 {
    font-family: 'Bellefair', serif;
    font-size: 32px;
    margin: 0;
    color: #fff;
    opacity: 50%;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 150px;
    margin-bottom: 15px;
}

.crewContainer h1 {
    font-family: 'Bellefair', serif;
    font-size: 56px;
    font-weight: 200;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
}

.crewContainer p {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    margin: 27px 0 0 0;
    max-width: 450px;
}

.slider {
    display: flex;
    justify-content: space-between;
    width: 132px;
    
}

.commanderContainer .slider {
    margin-top: 120px;
    margin-bottom: 95px;
}

.specialistContainer .slider {
    margin-top: 120px;
    margin-bottom: 95px;
}

.pilotContainer .slider {
    margin-top: 88px;
    margin-bottom: 95px;
}

.engineerContainer .slider {
    margin-top: 120px;
    margin-bottom: 95px;
}

.member1,
.member2,
.member3,
.member4 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 17.44%;
}

.member1:hover,
.member2:hover,
.member3:hover,
.member4:hover {
    opacity: 50%;
}