.crewContainer {
    padding: 0 0 0 18.3vh;
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.commanderContainer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-right: 135px;
    width: 100%;
}

.specialistContainer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-right: 165px;
    width: 100%;
}

.pilotContainer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-right: 143px;
    width: 100%;
}

.engineerContainer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-right: 85px;
    width: 100%;
}

.crewContainer .content {
    display: flex;
    flex-direction: column;
}

.commanderContainer .content {
    max-width: 500px;
}

.specialistContainer .content {
    max-width: 620px;
}

.pilotContainer .content {
    max-width: 440px;
}

.engineerContainer .content {
    max-width: 540px;
}

.crewContainer h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3.1vh;
    letter-spacing: 4.72px;
    color: #fff;
    font-weight: 200;
    margin: 0;
}

.crewContainer h1 span {
    padding-right: 28px;
    opacity: 25%;
    font-weight: 600;
}

.commanderContainer .crewImg {
    background-image: url('../assets/crew/image-douglas-hurley.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 58vh;
    height: 78vh;
}

.specialistContainer .crewImg {
    background-image: url('../assets/crew/image-mark-shuttleworth.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 54vh;
    height: 71vh;
    align-self: flex-end;
}

.pilotContainer .crewImg {
    background-image: url('../assets/crew/image-victor-glover.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 63vh;
    height: 73vh;
    align-self: flex-end;
}

.engineerContainer .crewImg {
    background-image: url('../assets/crew/image-anousheh-ansari.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 68vh;
    height: 67vh;
    align-self: flex-end;
}

.crewContainer h2 {
    font-family: 'Bellefair', serif;
    font-size: 3.55vh;
    margin: 0;
    color: #fff;
    opacity: 50%;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 17vh;
    margin-bottom: 1.5vh;
}

.crewContainer h3 {
    font-family: 'Bellefair', serif;
    font-size: 6.2vh;
    font-weight: 200;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
}

.crewContainer p {
    font-family: 'Barlow', sans-serif;
    font-size: 2vh;
    line-height: 3.55vh;
    color: #D0D6F9;
    margin: 3vh 0 0 0;
    max-width: 50vh;
}

.slider {
    display: flex;
    justify-content: space-between;
    width: 132px;
    
}

.commanderContainer .slider {
    margin-top: 13.5vh;
    margin-bottom: 9.6vh;
}

.specialistContainer .slider {
    margin-top: 13.5vh;
    margin-bottom: 9.6vh;
}

.pilotContainer .slider {
    margin-top: 10vh;
    margin-bottom: 9.6vh;
}

.engineerContainer .slider {
    margin-top: 13.5vh;
    margin-bottom: 9.6vh;
}

.slider span {
    width: 1.7vh;
    height: 1.7vh;
    border-radius: 50%;
    background-color: #fff;
    opacity: 17.44%;
}

.slider span:hover {
    opacity: 50%;
}

.slider span.active {
    opacity: 100%;
}