.destinationContainer {
    display: flex;
    flex-direction: column;
    padding: 8vh 11vw 10vh 12vw;
}

.destinationContainer h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.7em;
    letter-spacing: 4.72px;
    color: #fff;
    font-weight: 200;
    margin: 0;
}

.destinationContainer h1 span {
    padding-right: 28px;
    opacity: 25%;
    font-weight: 600;
}

.destinationContainer .container {
    display: flex;
    justify-content: space-between;
}

.moon {
    background: url('../assets/destination/image-moon.png') no-repeat;
    background-size: 50vh;
    width: 445px;
    height: 445px;
    margin-left: 5vw;
    margin-top: 10vh;
}

.mars {
    background: url('../assets/destination/image-mars.png') no-repeat;
    width: 445px;
    height: 445px;
    margin-left: 65px;
    margin-top: 100px;
}

.europa {
    background: url('../assets/destination/image-europa.png') no-repeat;
    width: 445px;
    height: 445px;
    margin-left: 65px;
    margin-top: 100px;
}

.titan {
    background: url('../assets/destination/image-titan.png') no-repeat;
    width: 445px;
    height: 445px;
    margin-left: 65px;
    margin-top: 100px;
}

.destinationContainer .content {
    width: 445px;
    height: 472px;
    margin-top: 7vh;
}

.planets ul {
    display: flex;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
    color: #D0D6F9;
}

.planets li {
    margin-right: 35px;
    cursor: pointer;
}

.planets li:hover {
    border-bottom: 3px solid #979797;
    padding-bottom: 15px;
}

.active {
    border-bottom: 3px solid #fff;
    padding-bottom: 15px;
}

.content h3 {
    font-family: 'Bellefair', serif;
    font-size: 100px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 200;
    margin: 37px 0 14px 0;
}

.content p {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    margin: 0;
}

.content .line {
    width: 444px;
    height: 1px;
    background-color: #383B4B;
    margin-top: 55px;
}

.info {
    display: flex;

}

.info h4 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin: 28px 125px 12px 0;
    color: #D0D6F9;
    font-weight: 200;
}

.info p {
    font-family: 'Bellefair', serif;
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
}
