/* body {
    background: url('../assets/home/background-home-desktop.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.container {
    display: flex;
    color: #fff;
    align-items: flex-end;
    justify-content: space-between;
    align-content: flex-end;
    flex-wrap: wrap;
    height: 100%;
    padding: 0 75px 45px 165px;
}

.main {
    max-width: 450px;
}

.main span {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75px;
    color: #D0D6F9;
}

.main h1 {
    font-family: 'Bellefair', serif;
    font-size: 150px;
    font-weight: 200;
    padding: 25px 0 35px 0;
    margin: 0;
}

.main p {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    margin: 0;
    padding-bottom: 90px;
}

.explore span {
    font-family: 'Bellefair', serif;
    font-size: 32px;
    letter-spacing: 2px;
    width: 274px;
    height: 274px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore {
    width: 450px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore a {
    text-decoration: none;
    color: #0B0D17;
}