.header {
    flex-grow: 3;
    height: 100vh;
}

.header.home {
    background: url('../assets/home/background-home-desktop.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header.destination {
    background: url('../assets/destination/background-destination-desktop.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header.crew {
    background: url('../assets/crew/background-crew-desktop.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header.technology {
    background: url('../assets/technology/background-technology-desktop.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-styles {
    height: calc(100% - 136px);
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 900px) {
    .header.home {
        background: url('../assets/home/background-home-tablet.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
    }

    .header.destination {
        background: url('../assets/destination/background-destination-tablet.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
    }

    .header.crew {
        background: url('../assets/crew/background-crew-tablet.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
    }

    .header.technology {
        background: url('../assets/technology/background-technology-tablet.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
    }

    .main-styles {
        height: calc(100% - 90px);
        display: flex;
        align-items: flex-end;
    }
}

@media screen and (max-width: 500px) {
    .header.home {
        background: url('../assets/home/background-home-mobile.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
    }

    .header.destination {
        background: url('../assets/destination/background-destination-mobile.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
    }

    .header.crew {
        background: url('../assets/crew/background-crew-mobile.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
    }

    .header.technology {
        background: url('../assets/technology/background-technology-mobile.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
    }
}