* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
}
  
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  